# /etc/systemd/system/timeshift-btrbk-bridge.service
[Unit]
Description=Timeshift to btrbk bridge service
# Wait for timeshift to finish, and abort if timeshift fails
Requires=timeshift.service
After=timeshift.service
# Trigger the failure service if this service fails
OnFailure=systemd-service-failure@%n.service

[Service]
Type=oneshot
User=root
Environment="HOME=/root"
ExecStart=ionice -c 3 /usr/local/bin/timeshift-btrbk-bridge.sh -l info run
# Trigger the notification script after success
ExecStartPost=/usr/local/bin/send-desktop-notification.sh -i timeshift -U critical "Timeshift btrbk bridge" "Timeshift btrbk bridge completed successfully."

# --- FAST RETRY CONFIGURATION ---
Restart=on-failure
# Wait 3 seconds between attempts
RestartSec=3s
# Try up to 10 times before completely giving up
StartLimitBurst=10
