# /etc/systemd/system/timeshift-btrbk-bridge.service
[Unit]
Description=Timeshift to btrbk bridge service
OnFailure=systemd-service-failure@%n.service

# Core Chain Logic: Run AFTER timeshift finishes.
# If timeshift fails, BindsTo ensures this service is aborted/skipped.
After=timeshift.service
Wants=timeshift.service

# Hardware Dependency
Requires=dev-disk-by\x2dlabel-BTRBK_ARCHIVE.device
After=dev-disk-by\x2dlabel-BTRBK_ARCHIVE.device

[Service]
Type=oneshot
User=root
Environment="HOME=/root"
TimeoutStartSec=300

# Triggers only if the backup drive is missing when timeshift finishes
ExecStartPre=/usr/local/bin/wait-for-backup-drive.sh

# Runs after the drive is detected
ExecStart=ionice -c 3 /usr/local/bin/timeshift-btrbk-bridge.sh -l info run
ExecStartPost=/usr/local/bin/send-desktop-notification.sh -i timeshift -U low "Timeshift btrbk bridge" "Success."
